<h1>Editing instance</h1>

<% form_for(@instance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hostname %><br />
    <%= f.text_field :hostname %>
  </p>
  <p>
    <%= f.label :query_port %><br />
    <%= f.text_field :query_port %>
  </p>
  <p>
    <%= f.label :index_port %><br />
    <%= f.text_field :index_port %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @instance %> |
<%= link_to 'Back', instances_path %>