<h1><%=h @instance.name %></h1>
<%= link_to 'log', @instance.log_url %> |
<%= link_to 'status', @instance.status_url %> |
<%= link_to 'Edit', edit_instance_path(@instance) %>  

<h2>Databases</h2>
<ul>
	<% @instance.databases.each do |database| %>
	<li><%= link_to "#{database.name}(#{database.documents_count})", instance_database_url(@instance.id, database.name) %></li>
	<% end %>
</ul>


